<html>
<head>
<title> My Profile </title>
</head>
<body style="background-color:burlywood">
  <td style="background-color:coffee"></td>
<h1> <p style="font-family:Times New Roman;text-align:center;"> MY PROFILE </p></h1>
<hr>
<h2> <p style="font-family:Elephant"> Personal Information: </p></h2>
<p style="font-family:Calibri"> <b> Name:</b> Ocampo,Bea Janina Oraa<br><b>Age: </b> 19 years old<br><b> Address: </b> 5 Jacinto Street Cavinti, Laguna </p>
<hr>
<h2> <p style="font-family:Elephant"> Self Description: </p></h2>
<p style="font-family:Calibri;text-align:center">  </p>
</body>
</html>